
<h2><%= @restaurant.name %> </h2>
<h4><%= @restaurant.address %> </h4>
<h4><%= @restaurant.phone_number %> </h4>

<div class="btn"> <%= link_to "See reviews", restaurant_reviews_path(@restaurant) %> </div>
<div class="btn"> <%= link_to "Add review", new_restaurant_review_path(@restaurant) %> </div>

